{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}
    Sidebar content
{% endblock %}
{% block blog_title %}
<a href="#">symblog - custom</a>
{% endblock %}